extends layouts/header.jade

block content
			.page-data
			
				form(method="post" action="/empresas/add" class="form-signin")
					table(cellpadding="11")
						tr
							td.label Nombre
							td 
								input(type="text" name="empresa" class="form-control" required)
						tr
							td.label Ubicacion
							td 
								input(type="text" name="ubicacion" class="form-control" required)
						tr
							td.label Telefono
							td 
								input(type="number" name="telefono" class="form-control" required)
						tr
							td.label Dominio
							td 
								input(type="text" name="dominio" class="form-control")		
						tr
							td.label Comentarios
							td 
								input(type="text" name="comentarios" class="form-control")
						tr
							td.label
							td
								input(type="submit" name="submit" value="Guardar" class="btn btn-success")
								&nbsp;&nbsp;
								input(type="button" name="cancel" value="Cancelar" class="cancel btn btn-danger" onClick="cancelAddEmpresa()")
							
			include layouts/footer.jade